<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
		<services>
			<service name="EventMgmtServiceLibrary.Service1" behaviorConfiguration="metadataSupport">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/EventMgmtServiceLibrary"/>
					</baseAddresses>
				</host>
				<endpoint address="" binding="wsDualHttpBinding" contract="EventMgmtServiceLibrary.IService1" />
			</service>
			
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="metadataSupport">
					<serviceMetadata httpGetEnabled="True"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>